body {
    font-family: "arial", sans-serif;
    text-align: center;
    background-color: rgba(248,239,215,0.925);
    height:100%;
}

@font-face{
    font-family: Bebas;
    src: local('bebas'),
    url(polices/BebasNeue-Regular.ttf)
}

@font-face{
    font-family: Assistant;
    src: local('assistant'),
    url(polices/Assistant-Light.ttf);
    font-weight: lighter;
}

.grand-titre{
    font-family: Bebas;
    font-size:50px;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
}


nav{
    padding:0px;
    padding-left: 0px;
    padding-bottom: 14px;
    width: 100%;
    position: sticky;
    top: 0px;
    text-align:center;
    z-index :100;
}
                
nav ul{
    list-style-type: none;
    padding-left: 0px;

}

nav ul li{
    float: left;
    width: 20%;
    text-align: center;
    position: relative;
    background-color: hsla(35,2.76%,54.75%,1);
    opacity:1;

}

nav a{
    display: inline-block;
    text-decoration: none;
    color: #333;
    border-top: 3px solid transparent;
    border-bottom: 2px solid transparent;
    padding: 10px 0px;
    font-family:Bebas;
    font-size:25px;
}

h2{
    font-family: Bebas;
    font-size: 32px;;
}

section{
    display: inline-block;
    margin-left:0.5%;
    margin-right:1%;
}
article{
    width: 70%;
    text-align: justify;
    display: block;
    margin-left:0.5%;
}
aside{
    width: 25%;
    text-align: justify;
    float:right;
    padding-right: 17px;
}
p{
    font-family:Assistant;
}
li{
    font-family: Assistant;
}
h4{
    font-family:Bebas;
    font-size:25px;
}

a {
  outline: none;
  text-decoration: none;
  color:#333
}

footer{
    text-align:center;
    background-color: hsla(35,2.76%,54.75%,1);
    opacity:0.9;
    position:relative;
    bottom:0;
    width:100%;
}

#photoCV{
	width:200px;
}
